*.bak
*~
build/*.o

.idea
.well-known
/.htaccess
.htaccess
/upload
upload/

/*.txt
/*.html
~*.php
*.log
*.xml
Thumbs.db
.DS_Store
._.DS_Store
*.iml
*.xml
*.sql
*.log
*.old
*.zip
*.pdf
*.tar
*.gz
yandex*.html
google*.html
log.txt
log*.txt